<!DOCTYPE html>
    <!-- Pushes rest of content down page
    ================================================== -->  
    <div id="push"></div>
  <!-- Closes wrap
  ================= -->
  </div>
    <!-- Footer
    ================================================== -->
    <div id="footer">
        <div class="row">
          <div class="span6">
            <img class="bitcoin" src="/img/Icons/btc.png" width="25" height="25">
            <span class="bitcoin">19pNmErZFMC4NAhzXEqoKEt1kyxUtw6Ru7</span>
          </div>
            <div class="span6 offset4"> <!-- Used offset4 to 'center'. Unsure if bad practice -->
             <p class="copywrite">&copy; CheapBean 2014 &middot; <a href="http://lancestacenko.me" style="color: #000000; border-bottom:1px double;">Created by Lance Stacenko</a>
            </p>
          </div>
        </div>
    </div>