    <!-- Pushes rest of content down page
    ================================================== -->  
    <div id="push"></div>
  <!-- Closes wrap
  ================= -->
  </div>
    <!-- Footer
    ================================================== -->
    <div id="footer">
        <div class="row">
          <div class="span6">
            <img class="bitcoin" src="/img/btc.png" width="25" height="25">
            <span class="bitcoin">19pNmErZFMC4NAhzXEqoKEt1kyxUtw6Ru7</span>
          </div>
            <div class="span6">
            <p class="copywrite">&copy; CheapBean 2014 &middot; <a href="http://lancestacenko.me" style="color: #000000; border-bottom:1px double;">Created by Lance Stacenko</a></p>
          </div>
        </div>
    </div>
    <!-- Added dependancies to bottom to save on load time
    ================================================== -->
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script> <!-- JQuery -->
    <script type="text/javascript" src="js/bootstrap.js"></script>  <!-- Bootstrap -->
    <script type="text/javascript" src="js/carousel.js"></script>  <!-- Bootstrap, Carousel -->
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>  <!-- Tablesorter -->
    <script type="text/javascript" src="js/ejs.js"></script>  <!-- EJS -->
    <script type="text/javascript" src="js/underscore.js"></script> <!-- Underscore -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script> <!-- Google Maps -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
      f[z]=function(){
      (a.s=a.s||[]).push(arguments)};var a=f[z]._={
      },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
      f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
      0:+new Date};a.P=function(u){
      a.p[u]=new Date-a.p[0]};function s(){
      a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
      hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
      return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
      b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
      b.contentWindow[g].open()}catch(w){
      c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
      var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
      b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
      loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
      /* custom configuration goes here (www.olark.com/documentation) */
      olark.identify('1669-606-10-5663');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1669-606-10-5663/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <script>
      google.maps.event.addDomListener(window, 'load', init);
  
      function init() {
          var mapOptions = {
              zoom: 12,
              disableDefaultUI: true,
              center: new google.maps.LatLng(43.6617, -79.3950),
              styles: [{featureType:"administrative",stylers:[{visibility:"all"}]},{featureType:"poi",stylers:[{visibility:"off"}]},{featureType:"road",elementType:"labels",stylers:[{visibility:"off"}]},{featureType:"water",stylers:[{visibility:"simplified"}]},{featureType:"transit",stylers:[{visibility:"simplified"}]},{featureType:"landscape",stylers:[{visibility:"simplified"}]},{featureType:"road.highway",stylers:[{visibility:"off"}]},{featureType:"road.local",stylers:[{visibility:"simplified"}]},{featureType:"road.highway",elementType:"geometry",stylers:[{visibility:"on"}]},{featureType:"water",stylers:[{color:"#84afa3"},{lightness:52}]},{stylers:[{saturation:-17},{gamma:0.36}]},{featureType:"transit.line",elementType:"on",stylers:[{color:"#3f518c"}]}]
              };
          var mapElement = document.getElementById('map');
          var map = new google.maps.Map(mapElement, mapOptions);

          /*next step is to write a foreach loop that iterates through array users and adds markers in sequence. 
          $.each(users, function(index, value) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(43.6617, -79.3950), //users.coffeeshop[i].latlong
                map: map,
                title: 'title' //users.coffeeshop[i].location_name,
          });*/
      }</script><!-- Map -->
    <script>
      $(function(){

      // Cache reference to map container
      var $map = $("#map");
      var $table = $("");

      // A function for updating max-height
      function updateMaxHeight () {
          var carousel = $('#myCarousel'), footer = $('#footer'), win_h = $(window).height(), margin = 40;


          var map_height = win_h - footer.height() - carousel.height() - margin;
          console.log(map_height)
          $map.css("height", map_height);
      }

      // Version of updateMaxHeight that will run no more than once every 500ms
      //var updateMaxHeightThrottled = _.throttle(updateMaxHeight, 500);

      // Call updateMaxHeightThrottled when browser resize event fires
        $(window).on("resize", updateMaxHeight); //Call on resize
        updateMaxHeight(); //Call on load
      });

      </script><!-- Map resizing -->
    <script>
      $(document).ready(function() 
      { 
        $("#myTable").tablesorter(); 
      } 
      ); 
      </script>

     <!-- EJS --><!-- Tablesorter -->
    <script>
        !function ($) {
          $(function(){
            // carousel demo
            $('#myCarousel').carousel();{

            }
          })
        }(window.jQuery)</script> <!-- Carousel -->
	</body>
</html>