<!DOCTYPE html>

    <!-- EJS include header -->
    <% include /boiler/header.ejs %>

      <!-- CONTENT GOES HERE NEXT! -->

    <!-- EJS include footer -->
    <% include /boiler/footer.ejs %>
    <!-- EJS include scripts -->
    <% include /boiler/scripts.ejs %>
  </body>
</html>