<!DOCTYPE html>

    <!-- EJS include header -->
    <% include header.ejs %>


    <!-- EJS include footer -->
    <% include footer.ejs %>
    <!-- EJS include scripts -->
    <% include scripts.ejs %>
  </body>
</html>