<!DOCTYPE html>

    <!-- EJS include header -->
    <% include /boiler/header.ejs %>
    <div class="well">
      <center><h1> The problem? </h1></center>
    	<center><h4>It's difficult to find up to date information on the prices of coffee at coffeehops in and around the city of Toronto. Little data exists on the major restaraunt finding platforms regarding price, hours, and drink availability, so I created this.</h4></center>
    </div>

    <div class="well">
      <center><h1> The solution: CheapBean.com</h1></center>
  		<center><h4>I created this site to help people find the best coffeeshops in their area, saving travel time and most importantly, your money. Buying coffee everyday can really add up.</h4></center>
    </div>

    <div class="well">
  		<center><h4>It's late one night, and you really feel like a coffee or tea. What's open? With conventional sites, it's impossible to sort by hours, and you're a person of distinction, the sketchy late night doughnut shop just won't cut it. You can sort by multiple filters, giving you the best, real coffeeshop that's open and in YOUR area. That's the beauty of CheapBean.com</h4></center>
    </div>

    <div class="well">
      <center><h3>If you liked this site, check out my <a href="http://github.com/CoverTheLasers">GitHub</a>, or buy me an espresso with Bitcoin: 19pNmErZFMC4NAhzXEqoKEt1kyxUtw6Ru7</h3></center>
    </div>

    <!-- EJS include footer -->
    <% include /boiler/footer.ejs %>
    <!-- EJS include scripts -->
    <% include /boiler/scripts.ejs %>
  </body>
</html>