<!DOCTYPE html>

    <!-- EJS include header -->
    <% include /boiler/header.ejs %>

      <!-- Path breadcrumb -->
      <ul class="breadcrumb">
        &nbsp;&nbsp;<li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Shops</a> <span class="divider">/</span></li>
        <li class="active">Balzac's</li>
      </ul>

      <!-- Styled Table insertion -->
      <div class="span12">
        <!-- Styled Table insertion -->
        <table id="hor-minimalist-a" summary="Profile Page Coffeeshops">
          <thead>
          <tr>
            <th style="width: 40%">Drink</th>
            <th style="width: 30%">Size</th>
            <th style="width: 30%">Price</th>
          </tr>
        </table>
      </div> 

      <!-- Styled Table insertion -->
      <div class="span12 offset12">
        <!-- Styled Table insertion -->
        <table id="hor-minimalist-a" summary="Shop Information">
          <thead>
          <tr>
            <th style="width: 40%">Location</th>
            <th style="width: 30%">Website</th>
            <th style="width: 30%">Hours</th>
          </tr>
        </table>
      </div>


      <div class="well well-large">
        TEST DATA GOES IN HERE
      </div>
    <!-- EJS include footer -->
    <% include /boiler/footer.ejs %>
    <!-- EJS include scripts -->
    <% include /boiler/scripts.ejs %>
  </body>
</html>