<!DOCTYPE html>

    <!-- EJS include header -->
    <% include /boiler/header.ejs %>

    <!-- Dynamic content goes here -->
      <div class="span6">
        <table summary="Front Page Coffeeshops">
          <thead>
          <tr>
            <th style="width: 5%">&nbsp;Open</th>
            <th style="width: 30%">Coffeeshop</th>
            <th style="width: 30%">Location</th>
            <th style="width: 10%; padding:5px">Rating</th>
            <th style="width: 20%; padding:5px">Difference from<br>Average Price</th>
          </tr>
        </table>
      </div> 
    <!-- EJS include footer -->
    <% include /boiler/footer.ejs %>
    <!-- EJS include scripts -->
    <% include /boiler/scripts.ejs %>
  </body>
</html>