<!DOCTYPE html>

    <!-- EJS include header -->
    <% include /boiler/header.ejs %>

    	<!-- Dynamic content goes here -->

    <!-- EJS include footer -->
    <% include /boiler/footer.ejs %>
    <!-- EJS include scripts -->
    <% include /boiler/scripts.ejs %>
  </body>
</html>